
.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    outline: none;
    padding: 0;
    margin: 0;

    width: 509px;
    height: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background: linear-gradient(90deg, rgba(149,149,149,1) 0%, rgba(20,20,20,1) 0%, rgba(122,119,119,1) 37%);

}
.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    /* transition: background 0.15s ease-in-out; */
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #000000;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #000000;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius:0;
    background: #ffffff;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px #ffffff;
}
.range-slider__value {
    display: inline-block;
    position: relative;
    width: 10%;
    color: #fff;
    line-height: 20px;
    text-align: center;
    /* border-radius: 3px; */
    margin-left: 481px;
    top: -51px;
     
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}